$black_000000: #000000;
$darksalmon_c27956: #c27956;
$darkslateblue_364577: #364577;
$darkslategray_484848: #484848;
$darkslategrey_333333: #333333;
$dimgrey_575757: #575757;
$lightgray_cccccc: #cccccc;
$lightsalmon_F3976C: #f3976c;
$white_FFF: #ffffff;
$white_FFFFFF: #ffffff;

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $white_FFF;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

cite {
  color: black;
}

a {
  transition: all .3s ease-in-out;
  outline: none !important;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  font-family: "helvetica";
  font-weight: 500;
  color: $black_000000 !important;
}

button {
  outline: none !important;
  transition: all .3s ease-in-out;
}

#page-loading-blocs-notifaction {
  background: $white_FFFFFF url("../img/pageload-spinner.gif") no-repeat center center;
  bottom: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}

.bloc {
  width: 100%;
  clear: both;
  background: 50% 50% no-repeat;
  padding: 0 50px;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  position: relative;

  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.bloc-lg {
  padding: 50px 100px !important;
}

.bloc-md {
  padding: 20px;
}

.bloc-sm {
  padding: 20px 50px;
}

.bg-center {
     -moz-background-size: auto !important;
       -o-background-size: auto !important;
  -webkit-background-size: auto !important;
          background-size: auto !important;
}

.bg-l-edge {
     -moz-background-size: auto !important;
       -o-background-size: auto !important;
  -webkit-background-size: auto !important;
          background-size: auto !important;
}

.bg-r-edge {
     -moz-background-size: auto !important;
       -o-background-size: auto !important;
  -webkit-background-size: auto !important;
          background-size: auto !important;
}

.bg-t-edge {
     -moz-background-size: auto !important;
       -o-background-size: auto !important;
  -webkit-background-size: auto !important;
  background: top no-repeat;
          background-size: auto !important;
}

.bg-b-edge {
     -moz-background-size: auto !important;
       -o-background-size: auto !important;
  -webkit-background-size: auto !important;
          background-size: auto !important;
}

.bg-tl-edge {
     -moz-background-size: auto !important;
       -o-background-size: auto !important;
  -webkit-background-size: auto !important;
          background-size: auto !important;
}

.bg-bl-edge {
     -moz-background-size: auto !important;
       -o-background-size: auto !important;
  -webkit-background-size: auto !important;
          background-size: auto !important;
}

.bg-tr-edge {
     -moz-background-size: auto !important;
       -o-background-size: auto !important;
  -webkit-background-size: auto !important;
          background-size: auto !important;
}

.bg-br-edge {
     -moz-background-size: auto !important;
       -o-background-size: auto !important;
  -webkit-background-size: auto !important;
          background-size: auto !important;
}

.bg-repeat {
     -moz-background-size: auto !important;
       -o-background-size: auto !important;
  -webkit-background-size: auto !important;
  background: repeat;
          background-size: auto !important;
}

.bloc-bg-texture {
  &:before {
    background-size: 2px 2px;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

.b-parallax {
  background-attachment: fixed;
}

.d-bloc {
  color: rgba(255, 255, 255, .7);

  button {
    &:hover {
      color: rgba(255, 255, 255, .9);
    }
  }

  .icon-round {
    border-color: rgba(255, 255, 255, .9);
  }

  .icon-square {
    border-color: rgba(255, 255, 255, .9);
  }

  .icon-rounded {
    border-color: rgba(255, 255, 255, .9);
  }

  .icon-semi-rounded-a {
    border-color: rgba(255, 255, 255, .9);
  }

  .icon-semi-rounded-b {
    border-color: rgba(255, 255, 255, .9);
  }

  .divider-h {
    span {
      border-color: rgba(255, 255, 255, .2);
    }
  }

  .a-btn {
    color: $dimgrey_575757;

    &:hover {
      color: white;
    }
  }

  .navbar {
    a {
      color: $dimgrey_575757;

      &:hover {
        color: white;
      }
    }
  }

  .navbar-brand {
    color: $dimgrey_575757;

    &:hover {
      color: white;
    }
  }

  a {
    .icon-sm {
      color: $dimgrey_575757;
    }

    .icon-md {
      color: $dimgrey_575757;
    }

    .icon-lg {
      color: $dimgrey_575757;
    }

    .icon-xl {
      color: $dimgrey_575757;
    }

    &:hover {
      .icon-sm {
        color: white;
      }

      .icon-md {
        color: white;
      }

      .icon-lg {
        color: white;
      }

      .icon-xl {
        color: white;
      }
    }
  }

  h1 {
    a {
      color: $dimgrey_575757;

      &:hover {
        color: white;
      }
    }
  }

  h2 {
    a {
      color: $dimgrey_575757;

      &:hover {
        color: white;
      }
    }
  }

  h3 {
    a {
      color: $dimgrey_575757;

      &:hover {
        color: white;
      }
    }
  }

  h4 {
    a {
      color: $dimgrey_575757;

      &:hover {
        color: white;
      }
    }
  }

  h5 {
    a {
      color: $dimgrey_575757;

      &:hover {
        color: white;
      }
    }
  }

  h6 {
    a {
      color: $dimgrey_575757;

      &:hover {
        color: white;
      }
    }
  }

  p {
    a {
      color: $dimgrey_575757;

      &:hover {
        color: white;
      }
    }
  }

  .navbar-toggle {
    .icon-bar {
      background: white;
    }
  }

  .btn-wire {
    color: white;
    border-color: white;

    &:hover {
      border-color: white;
      color: white;
    }
  }

  .panel {
    color: rgba(0, 0, 0, .5);

    button {
      &:hover {
        color: rgba(0, 0, 0, .7);
      }
    }

    icon {
      border-color: rgba(0, 0, 0, .7);
    }

    .divider-h {
      span {
        border-color: rgba(0, 0, 0, .1);
      }
    }

    .a-btn {
      color: rgba(0, 0, 0, .6);

      &:hover {
        color: black;
      }
    }

    .btn-wire {
      color: rgba(0, 0, 0, .7);
      border-color: rgba(0, 0, 0, .3);

      &:hover {
        border-color: rgba(0, 0, 0, .3);
        color: rgba(0, 0, 0, .7);
      }
    }
  }
}

.l-bloc {
  color: rgba(0, 0, 0, .5);

  button {
    &:hover {
      color: rgba(0, 0, 0, .7);
    }
  }

  .icon-round {
    border-color: rgba(0, 0, 0, .7);
  }

  .icon-square {
    border-color: rgba(0, 0, 0, .7);
  }

  .icon-rounded {
    border-color: rgba(0, 0, 0, .7);
  }

  .icon-semi-rounded-a {
    border-color: rgba(0, 0, 0, .7);
  }

  .icon-semi-rounded-b {
    border-color: rgba(0, 0, 0, .7);
  }

  .divider-h {
    span {
      border-color: rgba(0, 0, 0, .1);
    }
  }

  .a-btn {
    color: rgba(0, 0, 0, .6);

    &:hover {
      color: black;
    }
  }

  .navbar {
    a {
      color: rgba(0, 0, 0, .6);

      &:hover {
        color: black;
      }
    }
  }

  .navbar-brand {
    color: rgba(0, 0, 0, .6);

    &:hover {
      color: black;
    }
  }

  a {
    .icon-sm {
      color: rgba(0, 0, 0, .6);
    }

    .icon-md {
      color: rgba(0, 0, 0, .6);
    }

    .icon-lg {
      color: rgba(0, 0, 0, .6);
    }

    .icon-xl {
      color: rgba(0, 0, 0, .6);
    }

    &:hover {
      .icon-sm {
        color: black;
      }

      .icon-md {
        color: black;
      }

      .icon-lg {
        color: black;
      }

      .icon-xl {
        color: black;
      }
    }
  }

  h1 {
    a {
      color: rgba(0, 0, 0, .6);

      &:hover {
        color: black;
      }
    }
  }

  h2 {
    a {
      color: rgba(0, 0, 0, .6);

      &:hover {
        color: black;
      }
    }
  }

  h3 {
    a {
      color: rgba(0, 0, 0, .6);

      &:hover {
        color: black;
      }
    }
  }

  h4 {
    a {
      color: rgba(0, 0, 0, .6);

      &:hover {
        color: black;
      }
    }
  }

  h5 {
    a {
      color: rgba(0, 0, 0, .6);

      &:hover {
        color: black;
      }
    }
  }

  h6 {
    a {
      color: rgba(0, 0, 0, .6);

      &:hover {
        color: black;
      }
    }
  }

  p {
    a {
      color: rgba(0, 0, 0, .6);

      &:hover {
        color: black;
      }
    }
  }

  .navbar-toggle {
    .icon-bar {
      color: rgba(0, 0, 0, .6);
    }
  }

  .btn-wire {
    color: rgba(0, 0, 0, .7);
    border-color: rgba(0, 0, 0, .3);

    &:hover {
      border-color: rgba(0, 0, 0, .3);
      color: rgba(0, 0, 0, .7);
    }
  }
}

.voffset {
  margin-top: 30px;
}

.voffset-lg {
  margin-top: 80px;
}

.row-no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.row {
  &.row-no-gutters {
    >[class^="col-"] {
      padding-left: 0;
      padding-right: 0;
    }

    >[class*=" col-"] {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

#bloc-1-hero {
  h1 {
    font-size: 32px;
  }
}

.navbar {
  margin-bottom: 0;
  z-index: 1;

  .nav {
    float: right;
    margin-right: -16px;
    padding-top: 2px;
    z-index: 1;
  }
}

.navbar-brand {
  height: auto;
  padding: 3px 15px;
  font-size: 25px;
  font-weight: 600;
  line-height: 44px;

  img {
    display: inline;
    margin: 0 5px 0 0;
    max-height: 200px;
  }

  img[src$=svg] {
    min-width: 100px;
  }
}

.nav-center {
  .navbar-brand {
    img {
      margin: 0;
    }
  }
}

.nav {
  >li {
    float: left;
    margin-top: 4px;
    font-size: 1.3em;

    a {
      &:hover {
        background: transparent;
      }

      &:focus {
        background: transparent;
      }
    }

    >.dropdown {
      a {
        background: none !important;
        display: block;
        padding: 14px 15px;
      }
    }
  }
}

.navbar-nav {
  .open {
    .dropdown-menu {
      >li {
        >a {
          text-align: inherit;
        }
      }
    }
  }
}

.navbar-toggle {
  margin: 10px 10px 0 0;
  border: 0;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 26px;
  }
}

.icon-bar {
  margin-bottom: 4px;
}

.nav-invert {
  .navbar {
    .nav {
      float: left;
    }
  }

  .navbar-header {
    float: right;
    position: relative;
    z-index: 2;
  }

  .navbar-brand {
    float: right;
    position: relative;
    z-index: 2;
  }
}

@media (min-width: 768px) {
  .site-navigation {
    -webkit-transform: translateY(-50%);
    position: absolute;
    right: 20px;
    top: 50%;
            transform: translate(0, -50%);
  }

  .nav {
    >li {
      .dropdown-menu {
        a {
          color: $darkslategray_484848;

          &:hover {
            color: $darkslategray_484848;
          }
        }
      }
    }
  }

  .nav-invert {
    .site-navigation {
      left: 0;
      right: 0;
    }
  }

  .nav-center {
    text-align: center;

    .navbar-header {
      display: inline-block;
      float: none;
      width: 100%;
    }

    .navbar-brand {
      display: inline-block;
      float: none;
    }

    .nav {
      >li {
        display: inline-block;
        float: none;
      }
    }

    .site-navigation {
      margin-right: 0;
      margin-top: 20px;
      position: relative;
      right: 0;
      width: 100%;
    }

    &.mini-nav {
      .navbar-toggle {
        float: none;
        margin: 10px auto 0;
      }
    }
  }
}

nav {
  .caret {
    margin: 0 5px;
  }
}

.dropdown-menu {
  .dropdown-menu {
    left: 100%;
    top: -8px;
  }

  .dropmenu-flow-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    left: 0;
    margin-left: -1px;
    top: 100%;
  }

  .dropdown {
    span {
      border: 4px solid black;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-top-color: transparent;
      float: right;
      margin: 6px -5px 0 0 !important;
    }
  }
}

.mg-md {
  margin-bottom: 20px;
  margin-top: 10px;
}

.mg-lg {
  margin-bottom: 40px;
  margin-top: 10px;
}

.btn {
  margin: 0 5px 5px 0;

  &.pull-right {
    margin: 0 0 5px 5px;
  }
  font-family: "helvetica";
  font-weight: 500;
  color: $black_000000 !important;
}

.btn-d {
  color: $white_FFF;
  background: rgba(0, 0, 0, .3);

  &:hover {
    background: rgba(0, 0, 0, .3);
    color: $white_FFF;
  }

  &:focus {
    background: rgba(0, 0, 0, .3);
    color: $white_FFF;
  }
}

.btn-rd {
  border-radius: 40px;
}

.btn-clean {
  border: 1px solid rgba(0, 0, 0, .08);
  border-bottom-color: rgba(0, 0, 0, .1);
  box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
  text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
}

.icon-md {
  font-size: 30px !important;
}

.icon-lg {
  font-size: 60px !important;
}

.sm-shadow {
  text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.panel-sq {
  border-radius: 0;

  .panel-heading {
    border-radius: 0;
  }

  .panel-footer {
    border-radius: 0;
  }
}

.panel-rd {
  border-radius: 30px;

  .panel-heading {
    border-radius: 29px 29px 0 0;
  }

  .panel-footer {
    border-radius: 0 0 29px 29px;
  }
}

.form-control {
  border-color: rgba(0, 0, 0, .1);
  box-shadow: none;
}

.error {
  >label {
    color: red !important;
  }
}

.valid {
  >label {
    color: green !important;
  }
}

.is-valid {
  border-color: red !important;
}

.scrollToTop {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  z-index: 500;
  transition: all .3s ease-in-out;

  span {
    margin-top: 6px;
  }
}

.showScrollTop {
  font-size: 14px;
  opacity: 1;
}

a[data-lightbox] {
  position: relative;
  display: block;
  text-align: center;

  &:hover {
    &:before {
      -webkit-transform: translateY(-50%);
      background: rgba(0, 0, 0, .6);
      border-radius: 50%;
      color: $white_FFF;
      content: "+";
      font-family: "HelveticaNeue-Light",
                         "Helvetica Neue Light",
                         "Helvetica Neue",
                         Helvetica,
                         Arial;
      font-size: 32px;
      font-weight: 100;
      height: 50px;
      margin-left: -25px;
      position: absolute;
      top: 50%;
              transform: translateY(-50%);
      width: 50px;
      z-index: 1;
    }

    img {
      -webkit-animation-fill-mode: none;
              animation-fill-mode: none;
      opacity: .6;
    }
  }
}

#lightbox-modal {
  display: flex;
  align-items: center;

  .modal-dialog {
    width: 90%;
    max-width: 900px;
    margin: 0 auto 0;

    img {
      margin: 0 auto;
      max-height: 90vh;
    }
  }
}

.lightbox-caption {
  align-items: center;
  background: rgba(0, 0, 0, .5);
  color: $white_FFF;
  display: flex;
  justify-content: center;
  margin-bottom: -20px;
  margin-top: 10px;
  padding: 20px;
}

.close-lightbox {
  color: $white_FFF;
  font-size: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20;
  background: rgba(0, 0, 0, .5);
  border: none;
  line-height: 30px;
  padding: 0 9px 5px;
  opacity: .3;

  &:hover {
    color: $white_FFF;
    opacity: 1;
  }
}

.next-lightbox {
  &:hover {
    color: $white_FFF;
    opacity: 1;
  }
  font-size: 20px;
  color: rgba(255, 255, 255, .9);
  background: rgba(0, 0, 0, .5);
  transition: all .2s ease-in-out;
  position: absolute;
  top: 45%;
  z-index: 1;
  opacity: .4;
  padding: 6px 8px 1px 13px;
  right: 25px;
}

.prev-lightbox {
  &:hover {
    color: $white_FFF;
    opacity: 1;
  }
  font-size: 20px;
  color: rgba(255, 255, 255, .9);
  background: rgba(0, 0, 0, .5);
  transition: all .2s ease-in-out;
  position: absolute;
  top: 45%;
  z-index: 1;
  opacity: .4;
  padding: 6px 13px 1px 10px;
  left: 25px;
}

.snapshot-lb {
  .modal-body {
    padding-bottom: 45px;
  }

  .lightbox-caption {
    background: none;
    color: rgba(0, 0, 0, .5);
    padding: 0;
  }
}

h1 {
  color: $darkslategrey_333333 !important;
  font-family: "helvetica";
  font-weight: 500;
}

h2 {
  color: $black_000000 !important;
  font-family: "helvetica";
  font-size: 22px;
  font-weight: 500;
  line-height: 1.4em;
}

h3 {
  color: $darkslategrey_333333 !important;
  font-family: "helvetica";
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  color: $darkslategrey_333333 !important;
  font-family: "helvetica";
  font-weight: 500;
}

h5 {
  color: $black_000000 !important;
  font-family: "helvetica";
  font-weight: 500;
}

h6 {
  color: $black_000000 !important;
  font-family: "helvetica";
  font-weight: 500;
}

p {
  color: $black_000000 !important;
  font-family: "helvetica";
  font-size: 1em;
  font-weight: 500;
}

label {
  color: $black_000000 !important;
  font-family: "helvetica";
  font-weight: 500;
}

.container {
  max-width: 1000px;
}

.hero-bloc-text {
  font-size: 38px;
  font-weight: bold;
  text-shadow: 2px 2px 2px black;
}

.hero-bloc-text-sub {
  font-size: 36px;
}

.statement-bloc-text {
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  line-height: 26px;
  margin: auto auto auto auto;
  max-width: 520px;
  text-align: center;
}

.tight-width-whitespace {
  margin: auto auto auto auto;
  max-width: 600px;
}

.h1 {
  font-family: "Open Sans";
  font-size: 20px;
}

.cta-hero {
  color: $white_FFFFFF !important;
  font-size: 16px;
  font-weight: 700;
  margin-top: 22px;
  padding: 12px 28px 12px 28px;
  text-transform: uppercase;
}

.social {
  margin: auto auto auto auto;
  max-width: 400px;
}

.med-width-whitespace {
  box-shadow: 0 0 0 $black_000000;
  margin: auto auto auto auto;
  max-width: 800px;
}

.icons {
  margin-bottom: 14px;
  margin-top: 24px;
}

.white {
  color: $white_FFFFFF !important;
}

.portfolio-thumb {
  margin: 0 auto;
}

.portfolio-row {
  margin-bottom: 44px;
  margin-top: 50px;
}

.avatar {
  box-shadow: 0 4px 9px rgba(0, 0, 0, .3);
}

.black-background {
  background-color: rgba(0, 0, 0, .7);
  padding: 40px 40px 40px 40px;
}

.bold-link {
  font-weight: 900;
  text-decoration: underline !important;
}

.bgc-white {
  background-color: $white_FFFFFF;
}

.bgc-dark-slate-blue {
  background-color: $darkslateblue_364577;
}

.bgc-atomic-tangerine {
  background-color: $lightsalmon_F3976C;
}

.tc-white {
  color: $lightsalmon_F3976C !important;
}

.tc-black {
  color: $black_000000 !important;
}

.btn-atomic-tangerine {
  background: $lightsalmon_F3976C;
  color: $black_000000 !important;

  &:hover {
    background: $darksalmon_c27956 !important;
    color: $black_000000 !important;
  }
}

.ltc-white {
  color: $white_FFFFFF !important;

  &:hover {
    color: $lightgray_cccccc !important;
  }
}

.ltc-atomic-tangerine {
  color: $lightsalmon_F3976C !important;

  &:hover {
    color: $darksalmon_c27956 !important;
  }
}

.icon-dark-slate-blue {
  border-color: $darkslateblue_364577 !important;
  color: $darkslateblue_364577 !important;
}

.bg-banniere {
  background-image: url("../img/la-chouette-agence-banniere.jpg");
}

.bg-presentation {
  background-image: url("../img/image-de-presentation.jpg");
}

.contact {
  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1024px) {
  .bloc {
    padding-left: 20px;
    padding-right: 20px;

    &.full-width-bloc {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .bloc-tile-2 {
    &.full-width-bloc {
      .container {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .bloc-tile-3 {
    &.full-width-bloc {
      .container {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  .bloc-tile-4 {
    &.full-width-bloc {
      .container {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .navbar {
    .nav {
      max-width: 80%;
    }
  }

  .nav-center {
    &.navbar {
      .nav {
        max-width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .b-parallax {
    background-attachment: scroll;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
  .b-parallax {
    background-attachment: scroll;
  }
}

@media (max-width: 991px) {
  .container {
    width: 100%;
  }

  .b-parallax {
    background-attachment: scroll;
  }

  main {
    overflow-x: hidden;
    position: relative;
  }

  #hero-bloc {
    overflow-x: hidden;
    position: relative;
  }

  // .bloc {
  //   padding-left: constant(safe-area-inset-left);
  //   padding-right: constant(safe-area-inset-right);
  // }

  .bloc-group {
    display: block;
    width: 100%;

    .bloc {
      display: block;
      width: 100%;
    }
  }

  .bloc-fill-screen {
    .fill-bloc-top-edge {
      padding: 0 20px;
      // padding-left: constant(safe-area-inset-left);
      // padding-right: constant(safe-area-inset-right);
    }

    .fill-bloc-bottom-edge {
      padding: 0 20px;
      // padding-left: constant(safe-area-inset-left);
      // padding-right: constant(safe-area-inset-right);
    }
  }
}

@media (max-width: 767px) {
  .bg-banniere {
    background-image: none !important;
  }

  .bg-presentation {
    background-image: none;
  }

  main {
    overflow-x: hidden;
    position: relative;
    width: 100%;
  }

  h1 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  h2 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  h3 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  h4 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  h5 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  h6 {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  p {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  #disqus_thread {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .b-parallax {
    background-attachment: scroll;
  }

  .navbar {
    .nav {
      border-top: 1px solid rgba(0, 0, 0, .2);
      float: none !important;
      padding-top: 0;
    }

    &.row {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .site-navigation {
        -ms-transform: none;
    -webkit-transform: none;
    position: inherit;
            transform: none;
  }

  .nav {
    >li {
      margin-top: 0;
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      background: rgba(0, 0, 0, .05);
      text-align: left;
      padding-left: 15px;
      width: 100%;

      &:hover {
        background: rgba(0, 0, 0, .08);
      }
    }
  }

  .dropdown {
    .dropdown {
      a {
        .caret {
          border: 4px solid black;
          border-bottom-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent;
          float: none;
          margin: 5px 0 0 10px !important;
        }
      }
    }
  }

  #hero-bloc {
    .navbar {
      .nav {
        background: rgba(0, 0, 0, .8);

        a {
          color: rgba(255, 255, 255, .6);
        }
      }
    }
  }

  .hero {
    padding: 50px 0;
  }

  .hero-nav {
    left: -1px;
    right: -1px;
  }

  .navbar-collapse {
    -webkit-box-shadow: none;
            box-shadow: none;
    overflow-x: hidden;
    padding: 0;
  }

  .navbar-brand {
    img {
      max-height: 40px;
      width: auto;
    }
  }

  .nav-invert {
    .navbar-header {
      float: none;
      width: 100%;
    }

    .navbar-toggle {
      float: left;
      margin-left: 10px;
    }
  }

  .bloc {
    padding-left: 0;
    padding-right: 0;
  }

  .bloc-xxl {
    padding: 40px 0 !important;
  }

  .bloc-xl {
    padding: 40px 0 !important;
  }

  .bloc-lg {
    padding: 40px 0 !important;
  }

  .bloc-sm {
    padding-left: 0;
    padding-right: 0;
  }

  .bloc-md {
    padding-left: 0;
    padding-right: 0;
  }

  .bloc-tile-2 {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .bloc-tile-3 {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .bloc-tile-4 {
    .container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .bloc-fill-screen {
    .fill-bloc-top-edge {
      padding-left: 0;
      padding-right: 0;
    }

    .fill-bloc-bottom-edge {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .a-block {
    padding: 0 10px;
  }

  .btn-dwn {
    display: none;
  }

  .voffset {
    margin-top: 5px;
  }

  .voffset-md {
    margin-top: 20px;
  }

  .voffset-lg {
    margin-top: 30px;
  }

  form {
    padding: 5px;
  }

  .close-lightbox {
    display: inline-block;
  }

  .blocsapp-device-iphone5 {
    background-size: 216px 425px;
    padding-top: 60px;
    width: 216px;
    height: 425px;

    img {
      height: 320px;
      width: 180px;
    }
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .bloc-mob-center-text {
    text-align: center;
  }

  .social {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 400px) {
  .bloc {
    padding-left: 0;
    padding-right: 0;
  }
}
